@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-background text-primary leading-loose text-[1.2em]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-primary;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl;
  }
  
  button, a {
    @apply bg-button-bg text-button leading-loose
  }

  .markdown-content h1 {
    margin-bottom: 1rem;
  }
  .markdown-content h4 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .markdown-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: justify;
  }
  .markdown-content ul {
    margin-left: 1.5rem;
    list-style-type: disc;
  }
  .markdown-content li {
    margin-bottom: 0.5rem;
  }

  .markdown-content img {
    margin: 3rem auto;
  }
}